<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Тест по физике</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Тест по физике</h1>
    <form method="POST">
        {% for q in questions %}
            <div class="question">
                <p><b>{{ loop.index }}. {{ q.question }}</b></p>
                {% for option in q.answers %}
                    <label><input type="radio" name="q{{ loop.index0 }}" value="{{ option }}"> {{ option }}</label><br>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn">Отправить</button>
    </form>
</body>
</html>
