<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Тест по {{ topic }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<div class="container">
    <h1>Тест по теме: {{ topic }}</h1>
    <form method="post">
    {% for i, q in enumerate(questions) %}
        <div class="question">
            <p>{{ i+1 }}. {{ q[0] }}</p>
            {% for j, option in enumerate(q[1]) %}
                <label>
                    <input type="radio" name="q{{ i }}" value="{{ j }}" required> {{ option }}
                </label><br>
            {% endfor %}
        </div>
    {% endfor %}
        <button type="submit" class="btn">Отправить</button>
    </form>
    <a href="{{ url_for('index') }}" class="btn">На главную</a>
</div>
<footer>© Alexander Talyagin</footer>
</body>
</html>
